<div class="footer-divider">
    <div class="custom-shape-divider-bottom-1682389076">
      <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
          <path d="M1200,0H0V120H281.94C572.9,116.24,602.45,3.86,602.45,3.86h0S632,116.24,923,120h277Z" class="shape-fill"></path>
      </svg>
    </div>
</div>
<footer class="footer ">
    <div class="content has-text-centered">
        <div class="columns">
            <div class="column">
                <p class="has-text-weight-bold has-text-light">Asociación Mexicana de Geofísicos de Exploración</p>
                
                <hr>
                <img 
                    src="<%= base_url %>/images/amge_logotipo.webp" 
                    width="280" 
                    height="" 
                    style="max-height:none;"
                >
                <p class="has-text-justified has-text-light">
                    La AMGE fue constituida en noviembre de 1958, con el fin de difundir el conocimiento de la Geofísica 
                    entre sus socios. Es la asociación de Geofísicos más antigua de Latinoamérica, la cual se encuentra 
                    en constante evolución, con el fin de mantenerse vigente enfrentando los retos del presente y futuro.
                </p>
            </div>
            <div class="column">
                <p class="has-text-weight-bold has-text-light" >Menu</p>
                <hr>
                <div class="columns">
                  <div class="column">
                    <ul style="list-style-type: none;" class="has-text-left has-text-light">
                      <li >
                        <a href="/" class="has-text-light">Inico</a>
                      </li>
                      <li >
                        <a href="/nosotros" class="has-text-light">Nosotros</a>
                      </li>
                      <li >
                        <a href="/servicios" class="has-text-light">Servicios</a>
                      </li>
                      <li >
                        <a href="/membresias" class="has-text-light">Membresías</a>
                      </li>
                      <li>
                        <a href="/delegaciones" class="has-text-light" class="has-text-light">Delegaciones</a>
                      </li>
                      <li>
                        <a href="" class="has-text-light">Publicaciones</a>
                      </li>
                  </ul>
                  </div>
                  <div class="column">
                    <ul style="list-style-type: none;" class="has-text-left">
                      <li>
                          <a href="" class="has-text-light">Cursos</a>
                      </li>
                      <li>
                          <a href="" class="has-text-light">Libro AMGE 50 años</a>
                      </li>
                      
                      <li>
                          <a href="" class="has-text-light">Nuestros Hermanos AMGE</a>
                      </li>
                      <li>
                          <a href="" class="has-text-light">Aviso de Privacidad</a>
                      </li>
                  </ul>
                  </div>
                </div>
                
            </div>
            <div class="column">
              <p class="has-text-weight-bold has-text-light">Redes sociales</p>
              <hr>
              <div class="columns has-text-left is-mobile">
                  <div class="column ">
                    <a href="https://www.facebook.com/AMGEMEXICO"> 
                      <i class="fa-brands fa-facebook has-text-white-bis is-size-2"></i>
                    </a>                      
                  </div>
                  <div class="column">
                    <a href="https://www.instagram.com/amge_mexico/">
                      <i class="fa-brands fa-instagram has-text-white-bis is-size-2"></i>
                    </a>                      
                  </div>
                  <div class="column">
                    <a href="">
                      <i class="fa-brands fa-linkedin has-text-white-bis is-size-2"></i>
                    </a>
                  </div>
                  <div class="column">
                    <a href="https://www.youtube.com/channel/UCVMTs94s6pGarbWJRm2AJrw">
                      <i class="fa-brands fa-youtube has-text-white-bis is-size-2"></i>
                    </a>
                  </div>
              </div>
              
          </div>
            <div class="column">
                <p class="has-text-weight-bold has-text-light">Contacto</p>
                <hr>
                <div class="columns has-text-left is-mobile">
                    <div class="column ">
                        <div class="field">
                            <label class="label has-text-light">Nombre</label>
                            <div class="control has-icons-left has-icons-right">
                              <input class="input is-success" type="text" placeholder="Text input">
                              <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                              </span>
                              <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                              </span>
                            </div>
                            <p class="help is-success">This username is available</p>
                        </div>
                          
                          
                        <div class="field">
                            <label class="label has-text-light">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input class="input is-danger" type="email" placeholder="Email input">
                                <span class="icon is-small is-left">
                                    <i class="fas fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i class="fas fa-exclamation-triangle"></i>
                                </span>
                            </div>
                            <p class="help is-danger">This email is invalid</p>
                        </div>
                          
                          
                        <div class="field">
                            <label class="label has-text-light">Message</label>
                            <div class="control">
                              <textarea class="textarea" placeholder="Textarea"></textarea>
                            </div>
                        </div>

                          
                        <div class="field">
                            <div class="control">
                              <button class="button is-fullwidth is-primary">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <p class="has-text-light">
            Copyright © 2023 <strong class="has-text-light">Asociación Mexicana de Geofísicos de Exploración, A.C. - AMGE</strong> 
            - Todos los derechos reservados.
        </p>
    </div>
</footer>