<!-- the footer will take up all unused space at the bottom -->
<footer class="footer has-background-black has-text-white has-text-centered" >
    <p class="is-size-4">
        AMGE
    </p>
    <p>
        © 2024 AMGE. Todos los derechos reservados.
    </p>
    <p>
        Versión 1.0.0
    </p>
</footer>