<!-- left panel -->
<div class="dashboard-panel is-medium has-background-grey-lighter is-hidden-mobile">
    <header class="dashboard-panel-header">
        <div class="has-text-centered">
            <a href="/">
                <img src="<%= base_url %>images/amge_logo.webp" width="120" height="" style="max-height:none;">
            </a>
        </div>
    </header>

    <div class="dashboard-panel-content">
        <aside class="menu has-text-white">
            <p class="menu-label">
                Modulos
            </p>
            <ul class="menu-list">
                <li>
                    <a href="/dashboard/usuarios/principal/1" class="has-text-weight-semibold has-text-info">
                        Usuarios
                    </a>
                </li>
                <li>
                    <a href="/dashboard/delegaciones/" class="has-text-weight-semibold has-text-info">
                        Delegaciones
                    </a>
                </li>
                <li>
                    <a class="has-text-weight-semibold has-text-info">
                        Baners
                    </a>
                </li>
                <li>
                    <a class="has-text-weight-semibold has-text-info">
                        Eventos
                    </a>
                </li>
                <li>
                    <a href="/dashboard/noticias/" class="has-text-weight-semibold has-text-info">
                        Noticias
                    </a>
                </li>
                <li>
                    <a class="has-text-weight-semibold has-text-info">
                        Publicaciones
                    </a>
                </li>
                <li>
                    <a class="has-text-weight-semibold has-text-info">
                        Votaciones
                    </a>
                </li>
                
            </ul>
        </aside>
    </div>
</div>